<div class="bg-image"></div>

<div id="side-nav" class="side-nav">
    <a id="username-link" class="link" href="/profile/{{ username }}">
        <p class="side-nav-item"><span id="username">{{ username }}</span></p>
    </a>
    <p class="side-nav-item"><span id="user-subscribers">{{ subscribers }}</span> Subscribers</p>
    <p class="side-nav-item"><span id="user-subscriptions">{{ subscriptions }}</span> Subscriptions</p>
    <p class="side-nav-item"><span id="user-memepoints">{{ mpcount }}</span> M.P.</p>
    <p class="side-nav-item"><span id="user-postcount">{{ postcount }}</span> Posts</p>
    <form class="side-nav-item side-nav-search">
        <input type="text" class="search-bar" placeholder="Search here..." /><button type="submit" class="search-submit"><i
                class="fas fa-search"></i></button>
    </form>
    <form action="/logout" method="GET">
        <button class="side-nav-item logout-button">Log Out</button>
    </form>
</div>
<button id="side-nav-toggle" class="sinsup-button" type="button">☰</button>
<div class="addmeme">
    <a href="/create"><button class="sinsup-button">Add Meme <i class="fas fa-plus"></i></button></a>
</div>
<div id="container" class="container">
    <div id="post" class="feed-post">
        <h3 id="post-author" class="author">@Author Here</h3>
        <hr class="ff user-hr" />
        <img id="post-pic" class="post-pic" src="/assets/images/concrete_wall.png" />
        <hr class="pic-cap-hr" />
        <p id="post-caption" class="caption">This is the post caption.</p>
    </div>
    {{#each memes}}
    <div id="post" class="feed-post">
        <h3 id="post-author" class="author">{{ author }}</h3>
        <hr class="ff user-hr" />
        <img id="post-pic" class="post-pic" src="{{ postpicture }}" />
        <hr class="pic-cap-hr" />
        <p id="post-caption" class="caption">{{ postcaption }}</p>
    </div>
    {{/each}}
</div>